@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

* {
    transition: 0.5s;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Nerko One", Arial, Helvetica, sans-serif;
}

.header {
    padding: 15px;
    font-size: 48px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-select-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    flex: 1;
    margin-top: 50px;
}

.player-select-section .vs {
    font-size: 52px;
}

.player-select-card{
    width: 45vh;
    height: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-icon-section {
    flex: 1;
    width: 100%;
    background-size: cover;
}

.player-type-section {
    display: flex;
    width: 100%;
}

.player-select {
    width: 50%;
    height: 100px;
    border: none;
    border-top: 1px solid #ccc;
    font-family: "Nerko One", Arial, Helvetica, sans-serif;
    font-size: 24px;
    cursor: pointer;
    transition: 0.25s;
}


#player {
    border-right: 1px solid #ccc;
}

.selected-player {
    background-color: #2196f3 !important;
    border-top: 1px solid #2196f3;
    border-right: 1px solid #2196f3;
    color: white !important;
}

#ai {
    border-left: 1px solid #ccc;
}

.selected-ai {
    background-color: #dd2d4a !important;
    border-top: 1px solid #dd2d4a;
    border-left: 1px solid #dd2d4a;
    color: white !important;
}

.edit {
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
    color: #ccc;
    font-size: 24px;
    transition: 0.25s;
}

.edit:hover {
    color: whitesmoke;
}

.play-button-section {
    flex: 1;
    margin-top: 50px;
}

.play-button {
    border: none;
    padding: 10px 20px;
    font-family: "Nerko One", Arial, Helvetica, sans-serif;
    font-size: 36px;
    cursor: pointer;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 50vh;
    height: 50vh;
    justify-content: center;
    align-items: center;
    margin: 30px 100px;
}

.box {
    width: calc(50vh / 3 - 4px);
    height: calc(50vh / 3 - 2px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nerko One', Arial;
    font-size: 20vh;
    cursor: pointer;
    transition: 0s;
}

.box-light {
    border: 2px solid black;
}

.box-dark {
    border: 2px solid whitesmoke;
}

/* Screen Two */
.screen-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.best-of, .round-title, .round-count {
    font-size: 36px;
    font-weight: bold;
}

.player-ones-side, .player-twos-side {
    align-self: flex-start;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active {
    color: rgb(56, 189, 56) !important;
}

/* Box shit */
.gray {
    color: #ccc;
}

.marked-light {
    color: black;
}

.marked-dark {
    color: whitesmoke;
}

/* Light and Dark Mode */
.light-back {
    background-color: whitesmoke;
}

.light-text {
    color: #161a1d;;
}

.light-button {
    background-color: #161a1d;
}

.light-button-text {
    color: whitesmoke;
}

.dark-back {
    background-color: #161a1d;
}

.dark-text {
    color: whitesmoke;
}

.dark-button {
    background-color: whitesmoke;
}

.dark-button-text {
    color: #161a1d;
}

/* Toggle Switch */
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    right: 2%;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #4361ee;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4361ee;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* GODS */
/* DIONYSUS */
.dionysus-color {
    color: #d50ee0;
}

.dionysus-button {
    background-color: #d50ee0;
    color: white;
    border-top: 1px solid #d50ee0;
    border-right: 1px solid #d50ee0;
}

.dionysus-image {
    background-image: url(./card-backgrounds/Dionysus.webp);
}

/* APHRODITE */

.aphrodite-image {
    background-image: url(./card-backgrounds/Hades-A-cosplay-of-Aphrodite-the-goddess-of-love-in.webp.webp);
}

.aphrodite-color {
    color: #f288f3;
}

.aphrodite-button {
    background-color: #f288f3;
    color: white;
    border-top: 1px solid #f288f3;
    border-right: 1px solid #f288f3;
}

/* ARES */

.ares-image {
    background-image: url(./card-backgrounds/ares.png);
}

.ares-color {
    color: #f23232;
}

.ares-button {
    background-color: #f23232;
    color: white;
    border-top: 1px solid #f23232;
    border-right: 1px solid #f23232;
}

/* HERMES */

.hermes-image {
    background-image: url(./card-backgrounds/hermes-cropped.png);
}

.hermes-color {
    color: #ffd979;
}

.hermes-button {
    background-color: #ffd979;
    color: white;
    border-top: 1px solid #ffd979;
    border-right: 1px solid #ffd979;
}

/* ARTEMIS */

.artemis-image {
    background-image: url(./card-backgrounds/artemis.jpg);
}

.artemis-color {
    color: #a5ec3c;
}

.artemis-button {
    background-color: #a5ec3c;
    color: white;
    border-top: 1px solid #a5ec3c;
    border-right: 1px solid #a5ec3c;
}

/* EDIT MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-guts {
    position: relative;
    width: 20%;
    height: 60%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border: 10px solid #161a1d;
    border-radius: 8px;
    overflow-y: auto !important;
    overflow: auto;
}

.modal-guts .close {
    font-size: 24px;
    color: #161a1d;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 15px;
    margin-top: 15px;
    opacity: 0.6;
    transition: 0.2s;
    cursor: pointer;
}

.close:hover {
    opacity: 1;
}

.modal-content .title-header {
    font-size: 36px;
}

.modal-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 26px;
    gap: 8px;
}

.god {
    cursor: pointer;
    transition: 0.25s;
}

.god:hover {
    font-size: 30px;
}

.hidden {
    display: none;
}